{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "pluginSearchDirs": ["."],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@sveltejs/(.*)$",
    "^\\$!(lib)(.*)$",
    "^\\$lib(.*)$",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
