---
export interface Props {
  id: string;
  name: string;
  label: string;
}

const { id, name, label } = Astro.props;
---

<div class="max-w-xs w-full">
  <label for={id} class="text-neutral-600 text-base font-medium">
    {label}
  </label>
  <input
    type="text"
    id={id}
    name={name}
    required
    class="block h-10 w-full py-0.5 px-2 mx-auto mt-1 box-border border border-solid border-neutral-300 rounded bg-neutral-50 text-neutral-700 text-base"
  />
</div>
