main {
	--main-gap: theme(space.4);
	max-width: theme(maxWidth.xs);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--main-gap);
}
main > h1 {
	font-size: theme(fontSize.2xl);
	font-weight: theme(fontWeight.bold);
	text-align: center;
}
main > p {
	text-align: center;
}
main > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: theme(space.5);
}
main > footer {
	font-weight: theme(fontWeight.bold);
}
main > footer a {
	text-decoration: underline;
	color: theme(colors.neutral.500);
}
