---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import TextInput from "../components/TextInput.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <main
    class="w-full flex flex-col items-center justify-center gap-[var(--main-gap)] relative top-[calc((var(--logo-size)+var(--main-gap))/-3)]"
  >
    <Logo />
    <h1 class="text-2xl font-bold text-center">Locker Registration</h1>
    <form method="post" class="flex flex-col items-center w-full gap-5">
      <TextInput label="Email" id="email" name="email" />
      <Button>Log in</Button>
    </form>
    <div class="font-bold">
      Don't have a locker?
      <a href="./" class="underline text-neutral-500">Register.</a>
    </div>
  </main>
</Layout>
